@use '../../components/Layout/Layout.scss' as layout;

.search-results {
  &__total {
    margin-bottom: 30px;
    color: #636466;

    @include layout.breakpoint(sm) {
      margin-bottom: 20px;
    }

    @include layout.breakpoint(xs) {
      margin-bottom: 15px;
    }
  }

  &__nothing-found .nothing-found__text-img {
    display: none;
  }
}
