@use '../Layout/Layout.scss' as layout;
.mode-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @include layout.breakpoint(xs) {
    flex-direction: column;
    gap: 10px;
  }

  &__icons {
    display: flex;
    gap: 10px;
  }

  &__icon {
    display: flex;
    align-items: center;
  }
}
