@use '../../components/Layout/Layout.scss';

.form {
  &__body {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px 0;

    @include Layout.breakpoint(md) {
      gap: 40px;
    }

    @include Layout.breakpoint(sm) {
      flex-direction: column;
      gap: 30px;
      padding: 30px 0 30px;
    }

    @include Layout.breakpoint(sm) {
      padding: 20px 0;
    }
  }

  &__info {
    flex: 0 1 500px;

    @include Layout.breakpoint(sm) {
      flex: 0 1 0px;
    }
  }

  &__title .title__text {
    text-align: start;
    line-height: 1.2;

    @include Layout.breakpoint(md) {
      font-size: 40px; //48
    }

    @include Layout.breakpoint(sm) {
      text-align: center;
    }

    @include Layout.breakpoint(xs) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-size: 24px;
    margin-top: 10px;
    color: #1d4f78;

    @include Layout.breakpoint(md) {
      font-size: 20px;
    }

    @include Layout.breakpoint(sm) {
      text-align: center;
    }

    @include Layout.breakpoint(xs) {
      font-size: 16px;
    }
  }

  &__form {
    flex: 0 0 430px;

    @include Layout.breakpoint(md) {
      flex: 0 0 400px;
    }

    @include Layout.breakpoint(sm) {
      max-width: 430px;
      margin: 0 auto;
    }
  }

  &__item:nth-child(-n + 3) {
    margin-bottom: 15px;

    @include Layout.breakpoint(xs) {
      margin-bottom: 10px;
    }
  }

  &__input {
    border: #1d4f78 2px solid;
    font-size: 14px;
    height: 67px;
    min-width: 100%;
    padding: 0 35px;

    @include Layout.breakpoint(xs) {
      font-size: 10px;
      height: 50px;
      padding: 0 27px;
    }
  }

  &__input:focus {
    border: #ffb629 2px solid;
  }

  &__button {
    font-size: 20px;
    width: 100%;
    height: 48px;

    @include Layout.breakpoint(xs) {
      font-size: 16px;
      height: 44px;
    }
  }
}

textarea.form__input {
  font-family: inherit;
  font-size: 14px;
  min-height: 150px;
  max-height: 300px;
  max-width: 430px;
  padding: 22px 35px;

  @include Layout.breakpoint(md) {
    max-width: 400px;
  }

  @include Layout.breakpoint(sm) {
    // max-width: 430px;
  }

  @include Layout.breakpoint(xs) {
    font-size: 10px;
    padding: 17px 27px;
    min-height: 100px;
    // max-width: 100%;
    // max-width: 330px;
  }
}

// .agreement {
//   &__label {
//     display: flex;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//     font-size: 15px;
//   }

//   &__default-button:checked + .agreement__new-button::before {
//     transform: scale(1);
//   }

//   &__default-button {
//     display: none;
//   }

//   &__new-button {
//     position: relative;
//     display: inline-block;
//     flex: 0 0 24px;
//     height: 24px;
//     background-color: #dedede;
//     margin-right: 20px;
//     cursor: pointer;
//   }

//   &__new-button::before {
//     content: '✔';
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     background-color: #5475a4;
//     color: white;
//     width: 24px;
//     height: 24px;
//     transform: scale(0);

//   }

//   &__label a {
//     color: #5475a4;
//   }
// }

.agreement {
  &__label {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 30px 0;

    @include Layout.breakpoint(xs) {
      font-size: 14px;
      margin: 20px 0;
    }
  }

  &__default-button {
    display: none;
  }

  &__default-button:checked + .agreement__new-button::before {
    transform: scale(1);
  }

  &__new-button {
    position: relative;
    display: inline-block;
    flex: 0 0 24px;
    height: 24px;
    background-color: #dedede;
    margin-right: 20px;
    cursor: pointer;
  }

  &__new-button::before {
    content: '✔';
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #1d4f78;
    color: white;
    width: 24px;
    height: 24px;
    transform: scale(0);
  }

  &__label a {
    color: #5475a4;
    font-weight: 500;
  }
}

.form * {
  outline: none;
}
