@use '../Layout/Layout.scss' as layout;

.button-and-favorite {
  display: flex;
  align-items: center;

  &__button {
    padding: 10px 25px;

    @include layout.breakpoint(xs) {
      font-size: 10px;
      padding: 6px 8px;
    }
  }

  &__heart {
    display: flex;
    cursor: pointer;
  }

  &__heart-active svg {
    fill: #1d4f78;
  }
}
