@use '../Layout/Layout.scss' as layout;

.data {
  &__separator {
    background: #636466;
    height: 1px;
    width: 100%;
    margin: 0 auto 30px;

    @include layout.breakpoint(sm) {
      margin: 0 auto 15px;
    }
  }

  &__text {
    font-weight: 500;

    @include layout.breakpoint(md) {
      font-size: 14px;
    }

    @include layout.breakpoint(sm) {
      font-size: 12px;
    }
  }
}
