@use '../../components/Layout/Layout.scss' as layout;

.card-item {
  padding: 50px 0;

  @include layout.breakpoint(md) {
    padding: 40px 0 35px;
  }

  @include layout.breakpoint(sm) {
    padding: 30px 0 25px;
  }

  @include layout.breakpoint(xs) {
    padding: 20px 0;
  }

  &__body {
    display: flex;
    gap: 50px;
    border: #636466 1px solid;
    border-radius: 2px;
    max-width: 900px;
    margin: 0 auto 30px;
    padding: 15px 40px 15px;

    @include layout.breakpoint(md) {
      gap: 40px;
      margin: 0 auto 35px;
      padding: 15px 20px 15px;
    }

    @include layout.breakpoint(sm) {
      flex-direction: column;
      gap: 20px;
      margin: 0 auto 25px;
    }

    @include layout.breakpoint(xs) {
      margin: 0 auto 20px;
    }
  }

  &__characteristics {
    flex: 0 0 350px;

    @include layout.breakpoint(md) {
      flex: 0 0 290px;
    }

    @include layout.breakpoint(sm) {
      flex: 0 0 100%;
    }
  }
}

.characteristics,
.manufacturer {
  color: #636466;
}

.characteristics {
  &__title,
  &__subtitle {
    font-weight: 600;
  }

  &__title {
    color: #1d4f78;
    font-size: 24px;

    @include layout.breakpoint(md) {
      font-size: 20px;
    }

    @include layout.breakpoint(sm) {
      font-size: 16px;
    }
  }

  &__subtitle {
    font-size: 20px;
    margin: 10px 0;

    @include layout.breakpoint(sm) {
      font-size: 14px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 60px;

    @include layout.breakpoint(sm) {
      font-size: 14px;
    }

    @include layout.breakpoint(xs) {
      gap: 40px;
      font-size: 12px;
    }
  }

  &__name {
    width: 95px;
  }

  &__image {
    margin-top: 50px;

    @include layout.breakpoint(sm) {
      margin-top: 10px;
    }
  }
}

.description > *:not(:last-child) {
  margin-bottom: 10px;
}

.description {
  @include layout.breakpoint(sm) {
    font-size: 14px;
  }

  @include layout.breakpoint(xs) {
    font-size: 12px;
  }

  &__subtitle,
  &__item_bold,
  &__price {
    font-weight: 600;
  }

  &__subtitle {
    color: #636466;
    font-size: 20px;

    @include layout.breakpoint(sm) {
      font-size: 14px;
    }
  }

  &__list > *:nth-child(6) {
    margin-bottom: 10px;
  }

  &__item_bold sup {
    margin-left: -10px;
  }

  &__item {
    display: flex;
    gap: 10px;
  }

  &__price {
    font-size: 32px;

    @include layout.breakpoint(sm) {
      font-size: 20px;
    }
  }

  &__button-and-favorite .button-and-favorite {
    gap: 15px;
  }

  &__button-and-favorite .button-and-favorite__button {
    padding: 10px 35px;

    @include layout.breakpoint(sm) {
      padding: 8px 21px;
    }
  }
}

.additionally {
  &__subtitle {
    font-weight: 600;
    color: #161515;
  }

  &__list {
    margin-left: 5px;
  }

  &__item::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #161515;
    margin: 0 10px 3px 0;

    @include layout.breakpoint(sm) {
      width: 4px;
      height: 4px;
    }
  }
}

.square-meter {
  font-size: 11px;

  @include layout.breakpoint(sm) {
    font-size: 9px;
  }
}

.card-menu {
  padding: 10px 0;

  @include layout.breakpoint(md) {
    padding: 20px 0;
  }

  @include layout.breakpoint(xs) {
    padding: 15px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @include layout.breakpoint(md) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 40px;
      max-width: 560px;
      margin: 0 auto;
    }

    @include layout.breakpoint(sm) {
      gap: 30px;
      justify-content: start;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 260px;

    @include layout.breakpoint(md) {
      gap: 15px;
    }

    @include layout.breakpoint(xs) {
      gap: 15px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #284b78;
    border-radius: 15px;
    min-width: 80px;
    height: 80px;

    @include layout.breakpoint(sm) {
      width: 70px;
      height: 70px;
    }
  }

  &__text {
    max-width: 165px;

    @include layout.breakpoint(sm) {
      font-size: 14px;
    }
  }

  &__text span {
    font-weight: 600;
  }

  &__text-discount {
    font-size: 12px;
  }
}

.note {
  white-space: nowrap;
}
