@use '../Layout/Layout.scss' as layout;

.title {
  &__text {
    text-align: center;
    color: #1d4f78;
    font-weight: 600;
    font-size: 60px;

    @include layout.breakpoint(md) {
      font-size: 48px;
    }

    @include layout.breakpoint(sm) {
      font-size: 32px;
    }

    @include layout.breakpoint(xs) {
      font-size: 29px;
    }
  }
}
