@import '../Layout/Layout.scss';

.title {
  &__text {
    text-align: center;
    line-height: 1.36;
    color: #1d4f78;
    font-weight: 600;
    font-size: 60px;

    @include breakpoint(md) {
      font-size: 48px;
    }

    @include breakpoint(sm) {
      font-size: 32px;
    }

    @include breakpoint(xs) {
      font-size: 29px;
    }
  }
}
