@import '../../components/Layout/Layout.scss';

.catalog {
  &__body {
    padding: 50px 0;

    @include breakpoint(md) {
      padding: 40px 0;
    }

    @include breakpoint(sm) {
      padding: 30px 0;
    }

    @include breakpoint(xs) {
      padding: 20px 0;
    }
  }

  &__content-box {
    display: flex;
    gap: 38px;

    @include breakpoint(lg) {
      gap: 90px;
    }

    @include breakpoint(md) {
      gap: 60px;
    }

    @include breakpoint(sm) {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include breakpoint(xs) {
      margin-bottom: 20px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include breakpoint(sm) {
      justify-content: center;
    }

    @include breakpoint(xs) {
      gap: 5px;
    }
  }

  &__pagination-box {
    display: flex;
    justify-content: center;
  }

  &__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  &__button-prev {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);

    @include breakpoint(xs) {
      left: -30px;
    }
  }

  &__button-next {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(0, -50%);

    @include breakpoint(xs) {
      right: -30px;
    }
  }

  &__button-prev,
  &__button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    @include breakpoint(xs) {
      width: 22px;
      height: 22px;
    }
  }

  &__button-prev-invisible,
  &__button-next-invisible {
    display: none;
  }

  &__vector {
    @include breakpoint(xs) {
      width: 5px;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
  }
}

.filters {
  &__body {
    display: flex;
    flex-direction: column;
    width: 190px;

    @include breakpoint(sm) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: #636466;
    margin-bottom: 20px;

    @include breakpoint(xs) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__filters-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include breakpoint(sm) {
      flex-direction: row;
      gap: 20px;
    }

    @include breakpoint(xs) {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include breakpoint(sm) {
      align-items: center;
    }

    @include breakpoint(xs) {
      gap: 10px;
    }
  }

  &__subtitle {
    font-weight: 500;

    @include breakpoint(sm) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    @include breakpoint(sm) {
      justify-content: center;
    }
  }

  &__item {
    font-size: 14px;
    border: #636466 1px solid;
    border-radius: 2px;
    padding: 2px 7px;
    cursor: pointer;

    @include breakpoint(sm) {
      font-size: 12px;
    }
  }

  &__item:active {
    background-color: #1d4f78;
    color: #e9e9e9;
  }

  &__button {
    padding: 6px 9px;
    margin-top: 20px;

    @include breakpoint(xs) {
      font-size: 14px;
    }
  }
}
