@use '../../components/Layout/Layout.scss' as layout;

.catalog {
  &__title {
    margin-bottom: 30px;

    @include layout.breakpoint(xs) {
      margin-bottom: 20px;
    }
  }

  &__pagination-box {
    display: flex;
    justify-content: center;
  }

  &__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  &__button-prev {
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);

    @include layout.breakpoint(xs) {
      left: -30px;
    }
  }

  &__button-next {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(0, -50%);

    @include layout.breakpoint(xs) {
      right: -30px;
    }
  }

  &__button-prev,
  &__button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    @include layout.breakpoint(xs) {
      width: 22px;
      height: 22px;
    }
  }

  &__button-prev-invisible,
  &__button-next-invisible {
    display: none;
  }

  &__vector {
    @include layout.breakpoint(xs) {
      width: 5px;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
  }
}
