@use '../../components/Layout/Layout.scss' as layout;

.main {
  &__container {
    @include layout.breakpoint(md) {
      position: relative;
    }
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0px 45px 242px 56px;

    @include layout.breakpoint(md) {
      position: static;
      padding: 0px 34px 234px 66px;
    }

    @include layout.breakpoint(sm) {
      justify-content: space-around;
      padding: 0px 30px 218px 30px;
    }

    @include layout.breakpoint(xs) {
      flex-direction: column;
      padding: 0px 10px 48px 20px;
    }
  }

  &__info {
    flex: 0 1 520px;
    margin-top: 82px;

    @include layout.breakpoint(md) {
      flex: 0 1 350px;
    }

    @include layout.breakpoint(sm) {
      flex: 0 1 270px;
      margin-top: 86px;
    }

    @include layout.breakpoint(xs) {
      flex: 0 1 100%;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 650;

    @include layout.breakpoint(md) {
      font-size: 40px;
    }

    @include layout.breakpoint(sm) {
      font-size: 32px;
    }

    @include layout.breakpoint(xs) {
      font-size: 30px;
    }
  }

  &__menu-list {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 20px;

    @include layout.breakpoint(md) {
      margin: 25px 0 25px;
    }

    @include layout.breakpoint(sm) {
      flex-direction: column;
      align-items: start;
      gap: 5px;
      font-size: 16px;
      margin: 20px 0 20px;
    }
  }

  &__menu-item {
    color: #636466;
    padding-bottom: 2px;
  }

  &__menu-item:not(:last-child) {
    margin-right: 30px;
  }

  &__button {
    font-size: 20px;
    padding: 9px 56px;

    @include layout.breakpoint(sm) {
      padding: 10px 39px;
      font-size: 16px;
    }
  }
}
