@import '../Layout/Layout.scss';

.header {
  &__body {
    line-height: 1.36;
  }
}

.bottom-header {
  background: #E9E9E9;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
  }

  &__logo {
    display: flex;

    @include breakpoint(md) {
      max-width: 80px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    color: #1D4F78;

    @include breakpoint(sm) {
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-right: 18px;
  }

  &__item:not(:last-child):hover {
    color: #FFB629;

    @include breakpoint(md) {
      background: none;
    }
  }

  &__item {
    @include breakpoint(md) {
      font-size: 14px;
    }
  }

  &__item:last-child .bottom-header__link {
    background: #FFB629;
    font-size: 14px;
    padding: 5px 17px;

    @include breakpoint(md) {
      font-size: 12px;
    }
  }

  &__item:last-child :hover {
    box-shadow: inset 0px 1px 5px rgb(109, 105, 105);
  }
}
