@use '../Layout/Layout.scss' as layout;

.navbar {
  &__list {
    display: flex;
    align-items: center;
    color: #1d4f78;

    @include layout.breakpoint(sm) {
      flex-direction: column;
      align-items: start;
      color: #161515;
    }
  }

  &__item:not(:last-child) {
    margin-right: 18px;

    @include layout.breakpoint(sm) {
      margin-right: 0px;
      margin-bottom: 20px;
    }
  }

  &__item:not(:last-child):hover,
  &__item:hover {
    color: #ffb629;

    @include layout.breakpoint(md) {
      color: inherit;
    }
  }

  &__item_menu:hover .navbar__vector {
    filter: invert(100%);

    @include layout.breakpoint(md) {
      filter: none;
    }
  }

  &__item {
    @include layout.breakpoint(md) {
      font-size: 14px;
    }

    @include layout.breakpoint(sm) {
      font-size: 16px;
    }
  }

  &__item:last-child .navbar__link {
    background: #ffb629;
    font-size: 14px;
    padding: 5px 17px;

    @include layout.breakpoint(md) {
      font-size: 12px;
    }

    @include layout.breakpoint(sm) {
      background: none;
      font-size: inherit;
      padding: 0;
    }
  }

  &__item:last-child :hover {
    box-shadow: inset 0px 1px 5px rgb(109, 105, 105);

    @include layout.breakpoint(sm) {
      box-shadow: none;
    }
  }

  &__item_menu {
    position: relative;
  }

  &__item_menu .navbar__link {
    cursor: pointer;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    @include layout.breakpoint(sm) {
      justify-content: start;
    }
  }

  &__vector {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    margin-top: 2px;

    @include layout.breakpoint(md) {
      margin-top: 0px;
    }

    @include layout.breakpoint(sm) {
      margin-top: 2px;
    }
  }
}

.info-menu {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 5;
  color: #fdf9f9;
  background-color: #1d4f78;
  padding: 20px 15px;
  min-width: 152px;

  @include layout.breakpoint(sm) {
    position: static;
    background-color: inherit;
    color: #1d4f78;
    padding: 20px 10px 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    min-width: 132px;
    font-size: 14px;

    @include layout.breakpoint(sm) {
      font-size: 16px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;

    @include layout.breakpoint(sm) {
      margin-bottom: 10px;
    }
  }
}
