@import '../../components/Layout/Layout.scss';

.favorites {
  &__body {
    padding: 50px 0;

    @include breakpoint(md) {
      padding: 40px 0;
    }

    @include breakpoint(sm) {
      padding: 30px 0;
    }

    @include breakpoint(xs) {
      padding: 20px 0;
    }
  }

  &__title .title__text {
    text-align: start;
    margin-bottom: 30px;

    @include breakpoint(md) {
      margin-bottom: 20px;
    }
  }

  &__favorites-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    @include breakpoint(sm) {
      font-size: 16px;
    }

    @include breakpoint(xs) {
      font-size: 14px;
    }
  }

  &__image {
    margin-bottom: 20px;

    @include breakpoint(sm) {
      width: 75px;
    }

    @include breakpoint(xs) {
      width: 56px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-weight: 600;
  }

  &__announcement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 30px;

    @include breakpoint(sm) {
      margin: 10px 0 20px;
    }

    @include breakpoint(xs) {
      margin: 13px 0 15px;
    }
  }

  &__text-img {
    @include breakpoint(xs) {
      width: 22px;
    }
  }

  &__button {
    padding: 9px 55px;

    @include breakpoint(sm) {
      padding: 8px 35px;
    }

    @include breakpoint(xs) {
      padding: 6px 22px;
    }
  }
}
