@import '../../components/Layout/Layout.scss';

.favorites {
  &__body {
    padding: 50px 0;

    @include breakpoint(md) {
      padding: 40px 0;
    }

    @include breakpoint(sm) {
      padding: 30px 0;
    }

    @include breakpoint(xs) {
      padding: 20px 0;
    }
  }

  &__title .title__text {
    text-align: start;
    margin-bottom: 30px;

    @include breakpoint(md) {
      margin-bottom: 20px;
    }
  }

  &__favorites-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
