@use '../Layout/Layout.scss' as layout;

.nothing-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  @include layout.breakpoint(sm) {
    font-size: 16px;
  }

  @include layout.breakpoint(xs) {
    font-size: 14px;
  }

  &__image {
    margin-bottom: 20px;

    @include layout.breakpoint(sm) {
      width: 75px;
    }

    @include layout.breakpoint(xs) {
      width: 56px;
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-weight: 600;
  }

  &__announcement {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 30px;

    @include layout.breakpoint(sm) {
      margin: 10px 0 20px;
    }

    @include layout.breakpoint(xs) {
      margin: 13px 0 15px;
    }
  }

  &__text-img {
    @include layout.breakpoint(xs) {
      width: 22px;
    }
  }

  &__button {
    padding: 9px 55px;

    @include layout.breakpoint(sm) {
      padding: 10px 39px;
    }

    @include layout.breakpoint(xs) {
      font-size: 10px;
      padding: 6px 20px;
    }
  }
}
