@use '../Layout/Layout.scss' as layout;

.filters {
  &__body {
    display: flex;
    flex-direction: column;
    width: 190px;

    @include layout.breakpoint(sm) {
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: #636466;
    margin-bottom: 20px;

    @include layout.breakpoint(xs) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__filters-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include layout.breakpoint(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 35px;
    }

    @include layout.breakpoint(xs) {
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include layout.breakpoint(sm) {
      align-items: center;
    }

    @include layout.breakpoint(xs) {
      gap: 10px;
    }
  }

  &__subtitle {
    font-weight: 500;

    @include layout.breakpoint(sm) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    @include layout.breakpoint(sm) {
      justify-content: center;
    }
  }

  &__item {
    font-size: 12px;
    border: #636466 1px solid;
    border-radius: 2px;
    padding: 2px 7px;
    cursor: pointer;
  }

  &__item-active {
    background-color: #1d4f78;
    color: #e9e9e9;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__button {
    font-size: 14px;
    padding: 5px 13px;
    margin-top: 20px;
  }

  &__button-reset {
    font-size: 12px;
    background-color: #e9e9e9;
    color: #1d4f78;
    padding: 7px 11px;
    cursor: pointer;
  }
}
